<!DOCTYPE html>
<html lang="en">
<title>Cart is empty!</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <style>
      body{
        background-color: floralwhite;
      }

      button{
        float: middle;
        padding: 5px;
        margin: 12px;
        cursor: pointer;
      }
      table{
        padding: 5px;
        border-collapse: separate;
        border-spacing: 10px;
        border: 2px double black;
      }

      #content {
        padding-top: 250px;
        margin: 0 auto;
        text-align: center;
      }
    </style>
</head>

<body>
  <div id="content">
      <h1><b>Cart is empty!</b></h1>
      <form id="backForm" action="/menuBack" method="get">
        <button type="submit" class="w3-xlarge w3-border w3-border-black menuButton"><b>Back to Menu</b></button>
      </form>
    </div>
    <script>
    </script>
</body>
</html>