<!DOCTYPE html>
<html lang="en">
<title>Cart is empty!</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <style>
      body{
        background-color: floralwhite;
      }

      button{
        float: middle;
        padding: 5px;
        margin: 12px;
        cursor: pointer;
      }
      table{
        padding: 5px;
        border-collapse: separate;
        border-spacing: 10px;
        border: 2px double black;
      }

      #content {
        padding-top: 250px;
        margin: 0 auto;
        text-align: center;
      }
    </style>
</head>

<body>
  <div id="content">
      <h1><b>Table Number is empty or invalid!</b></h1>
    </div>
    <script>
    </script>
</body>
</html>